body {
    background: #f1f5f9;
}

.wrapper {
    width: 300px;
    padding: 10px;
    text-align: center;
}

#detail-button {
    width: 200px;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 5px;
    background: #facc15;
    cursor: pointer;
    margin-bottom: 20px;
}